{
    "presets": [
        [
            "env",
            {
                "useBuiltIns": true
            }
        ],
        "react-optimize",
        "react",
        "stage-0"
    ],
    "plugins": [
        "trace",
        "flow-runtime",
        "partial-application",
        "idx",
        "ramda",
        "relay",
        "react-require",
        "styled-components"
    ],
    "env": {
        "production": {
            "plugins": [
                "groundskeeper-willie"
            ]
        }
    }
}
