{
    "presets": [
        [
            "env",
            {
                "useBuiltIns": true,
                "targets": {
                    "browsers": [
                        "chrome >= 59"
                    ]
                },
                "modules": false
            }
        ],
        "react-optimize",
        "react",
        "stage-0"
    ],
    "plugins": [
        "trace",
        "flow-runtime",
        "partial-application",
        "idx",
        "ramda",
        "react-require",
        "styled-components"
    ],
    "env": {
        "production": {
            "presets": [
                [
                    "env",
                    {
                        "useBuiltIns": true,
                        "targets": {
                            "browsers": [
                                "last 2 versions"
                            ],
                            "uglify": true
                        },
                        "modules": false
                    }
                ]
            ],
            "plugins": [
                [
                    "groundskeeper-willie",
                    {
                        "removeConsole": true,
                        "removeDebugger": true,
                        "removePragma": false
                    }
                ]
            ]
        }
    }
}
